.personal {
	border: solid black 1px;
	border-radius: 10px;
    
}
.education {
	border: solid black 1px;
	border-radius: 10px;
}
.experience {
	border: solid black 1px;
	border-radius: 10px;
}
.form-header {
	border: solid black 1px;
	border-radius: 10px;

}
