.resume-preview {
	padding-left: 5vw;
}

.resume-personal-container {
	height: 13vh;
	width: 35vw;
	background-color: cadetblue;
	color: white;
}

.full-name {
	padding-top: 1.5vh;
	text-align: center;
	font-size: 2.5rem;
}

.personal-info-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	font-size: 1.3rem;
}

.personal-info-container li {
	text-decoration: none;
	list-style: none;
}

.resume-other-container {
	background-color: white;
	width: 35vw;
	height: 100vh;
	margin-bottom: 5vh;
}

.resume-preview-container {
	display: flex;
	flex-direction: column;
	padding-top: 3vh;
}

.resume-other-container h1 {
	text-align: center;
	height: auto;
	background-color: rgb(243, 244, 246, 255);
	margin: 3vh auto; /* Center the element */
	width: 85%;
}

.education-info-container,
.experience-info-container {
	width: 85%;
	margin: 0 auto;
	display: flex;
	font-size: 1.1rem;
}

.education-school-and-degree {
	padding-left: 1.5vw;
}
.education-school {
	font-weight: bold;
}
